<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".js" />
      <remove fileExtension=".mjs" />
      <remove fileExtension=".css" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=UTF-8" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript; charset=UTF-8" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="index.js" />
        </rule>
        <rule name="StaticContent">
          <match url="^((?!index\.js).)*$" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      debuggingEnabled="true"
      loggingEnabled="true"
      logDirectory="iisnode"
      maxLogFiles="100"
      maxLogFileSizeInKB="128"
      devErrorsEnabled="true"
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      watchedFiles="*.js;iisnode.yml"
      enableXFF="true"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
    />
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>